/*common start*/
body {
	margin: 0;
	font-family: 'playfair Display', serif;
	font-size: 16px;
	font-weight: 400;
	color: #626262;
}
/*common end*/
/*header start*/
header {
	padding: 35px 0;

}
.container {
	margin: 0 auto;
	width: 90%;
/*	border: 1px solid ;*/
	overflow: hidden;
}
.logo{
	margin-top: 8px;
	width: 13%;
/*	border: 1px solid;*/
	float: left;
}
.logo a {
	display:block;
}
.logo a img {
	width: 100%;
}
.menu {
	width: 60%;
/*	border: 1px solid;*/
	float: right;
}
.menu ul {
	margin: 0;
	float: right;
}
.menu ul li {
	list-style: none;
	float: left;


}
.menu ul li a {
	margin: 10px 50px;
	padding: 5px 5px;
	text-decoration: none;
	display: block;
	color: #626262;
	text-transform: uppercase;
	border-bottom: 1px solid transparent;
	transition: .33s;
	
}
.menu ul li a:hover {
border-bottom: 1px solid  #626262;

}
.menu ul li:last-child a {
	margin-right: 0;
}
/*header end*/
/*banner start*/
.massage {
	padding: 80px 0 ;
}
.b_img {

}

.b_img img {
	width: 100%;
}


/*banner end*/
/*massage start*/
.massage {
	padding: 100px 0 40px;

}
.container2 {
	margin: 0 auto;
	width: 80%;
/*	border:1px solid;*/
	overflow: hidden;
}
.light {
	margin: 0;
	font-family: 'ubuntu',sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #b4ad9e;
	text-transform: uppercase;
}
.title {
	margin: 15px 0 25px;
	font-size: 400;
	font-weight: 400;


}
.text {
	margin: 0;
	line-height: 24px;

}

.mt_40 {
	margin-top: 40px;
}


/*massage end*/
/*blog start*/
.blog {
	padding: 0 0 100px;
}
.s_blog {
	margin-top: 60px;
	width: 47%;
/*	border: 1px solid;*/
	float: left;
}
.s_blog:nth-child(even) {
	margin-left: 6%;
}
.s_img {
	margin-bottom: 20px;
}
.s_img img {
	width: 100%;
}

/*blog end*/
/*news start*/
.news {
	background-color:#f0f0f0 ;
	padding: 70px 0;
}
.signup {
	text-align: center;
}
.n_h1 {
	margin-top: 0;
	margin-bottom: 70px;
	color: #333333;

}
.n_form {
	position: relative;
	margin: 0 auto;
	width: 400px;
/*	border: 3px solid;*/
	
}
.n_form input {
	font-family:'playfair Display', serif;
	font-size: 14px;
	color:#626262 ;
	width: 345px;
	height: 45px;
	border: none;
	border-bottom: 1px solid #000000;
	background-color: transparent;
	padding-left: 5px;
	padding-right: 45px;
}
.n_form input:focus {
	outline: 0;
}
.n_form button {
	position: absolute;
	background-color: transparent;
	border: none;
	cursor: pointer;
	top: 15px;
	right: 0;


}
.n_form button:focus{
	outline: 0;

}
.n_form button img {}

/*news end*/
/*blog2 start*/
.blog2 {
	padding-top: 40px;

}
.load{
	margin: 100px 0;
	text-align: center;

}
.load button {
	width: 165px;
	height: 65px;
	background-color: transparent;
	border: 1px solid #626262;
	font-family: 'playfair Display, serif';
	font-size:20px;
	font-weight: 400;
	color: #626262;
	cursor: pointer;
	transition: .33s;

}
.load button:hover{
	background-color: #626262;
	color: white;
}

/*blog2 end*/
/*footer start*/
footer {
	background-color: #f0f0f0;
}
.pages{
	width: 30%;
/*	border: 1px solid;*/
	float: left;
}
.pages ul{}
.pages ul li {
	list-style: none;
	float: left;
}
.pages ul li a {
	padding: 0 10px;
	font-family: 'playfair Display, serif';
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
	color: #000000;

}

.media{
	width: 20%;
/*	border: 1px solid;*/
	float: right;
}
.media ul {
	float: right;
}
.media ul li {
	font-family: 'playfair Display, serif';
	font-size: 14px;
	font-weight: 400;
	list-style: none;
	float: left;
	color: #000000;
}
.media ul:first-child li {
	padding-right: 10px;
}
.media ul li a {

	
	padding: 0 10px;
	text-decoration: none;
	color: #000000;
}
.media ul li:last-child a{
	padding-right: 0;
} 
.media ul li a img {
	
}


/*footer end*/